:root {
  --bodybackgroundcolor: #f3f2ef;
  --text-sm: 0.875rem;
  --rounded-lg: 1.6rem;
  --rounded-md: 1.25rem;
  --rounded-sm: 0.8rem;
  --rounded-xs: 0.4rem;
  --gray-primary: rgba(0, 0, 0, 0.3);
  --gray-60: rgba(0, 0, 0, 0.6);
  --gray-80: rgba(0, 0, 0, 0.08);
  --blue-70: #0a66c2;
  --blue-80: #004182;
  --commentBgColor: #f2f2f2;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000e6;
  background-color: var(--bodybackgroundcolor);
}

.comment__input {
  display: block;
  width: 100%;
  border: 1px solid var(--gray-primary);
  border-radius: var(--rounded-md);
  padding: 0.725rem 1rem;
  outline: none;
  font-size: var(--text-sm);
  font-weight: inherit;
  color: inherit;
}

.comment__input:focus {
  box-shadow: inset 0 0 0 1px var(--gray-primary);
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: var(--text-sm);
  font-weight: 700;
  text-align: center;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 167ms;
}

.btn--primary {
  background-color: var(--blue-70);
  color: #fff;
  min-height: 1.5rem;
  border-radius: var(--rounded-lg);
  padding: 0.2rem 0.8rem;
  margin-top: 0.75rem;
}

.btn--primary:hover {
  background-color: var(--blue-80);
}

.btn--secondary {
  background-color: transparent;
  border-radius: var(--rounded-xs);
  padding: 0 0.4rem;
  color: rgba(0, 0, 0, 0.6);
}

.btn--secondary:hover {
  background-color: var(--gray-80);
}

.btn--tertiary {
  color: var(--gray-60);
  min-height: 1.5rem;
  border-radius: var(--rounded-lg);
  padding: 0.2rem 0.8rem;
  box-shadow: 0 0 0 1px var(--gray-60);
}

.btn--tertiary:hover {
  background-color: var(--gray-80);
  box-shadow: inset 0 0 0 2px var(--gray-60);
}

:is(button, input) {
  font-family: inherit;
}

.comment__container {
  margin: 1.2rem 0;
}

.comment {
  background-color: var(--commentBgColor);
  padding: 0.8rem;
  border-radius: var(--rounded-sm);
  font-size: var(--text-sm);
}

.post__container {
  max-width: 540px;
  margin: 1rem auto;
  background-color: #fff;
  border-radius: var(--rounded-sm);
  box-shadow: 0px 0px 0px 1px var(--gray-80);
  padding: 1rem;
}

.mt-xs {
  margin-top: 0.75rem;
}

.comment__container .replies {
  margin-left: 2.75rem;
}

.comment__cta {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.comment__cta > * {
  margin-right: 0.4rem;
}

.vertical-divider {
  height: 1rem;
  border-left: 1px solid var(--gray-primary);
}

.comment__edit-cta {
  margin-top: 1rem;
}

.comment__edit-cta > * {
  margin-right: 0.8rem;
}

.comment__content {
  outline: none;
}
